<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>my projects</title>
    </head>

    <body>

{{> header}}
        <p>the projects page</p>

{{> footer}}
    </body>
</html>